<!DOCTYPE html>
<html>
<th:block th:replace="include/header :: head"></th:block>
<body>
<th:block th:replace="include/menu :: menu"></th:block>
<h1>Hello, <span th:text="${name}"></span>!</h1>
<th:block th:replace="include/footer :: foot"></th:block>
</body>
</html>